<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li><a href="/user">Пользователи</a></li>
    <li><a href="/good">Товары</a></li>
    <li><a href="/cart">Корзина</a></li>
    <li><a href="/auth">Войти</a></li>
</ul>
<div class="content">
    {{ content|raw }}
</div>
</body>
</html>
