<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="all" id="app">
    <header class="header">
        <div class="container header-flex">
            <div class="header-left">
                <a class="logo" href="/good"><img class="img-logo" src="../img/logo.png" alt="logo">BRAN <span
                            class="pink-D">D</span></a>
                <search @search="handleSearchClick"></search>
            </div>
            <div class="header-right">
                <div class="cart-box">
                    <a href="/cart"><img src="../img/cart.svg" class="img-cart" alt="cart"></a>
                    <div class="cart-items" v-text="totalAmount"></div>
                </div>
                <a href="/auth" class="button" v-if="user.length === 0">My&nbsp;Account</a>
                <a href="/auth" class="button" v-else v-text="user.login"></a>
            </div>
        </div>
    </header>
    <nav class="navigation">
        <div class="container">
            <ul class="menu">
                <li class="menu-list">
                    <a class="menu-link" href="/good">Home</a>
                </li>
                <li class="menu-list">
                    <a class="menu-link" href="/review">Reviews</a>
                </li>

                {% if user.role=="isAdmin" %}
                    <li class="menu-list">
                        <a class="menu-link" href="/user">Users</a>
                    </li>
                    <li class="menu-list">
                        <a class="menu-link" href="/order">Orders</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {{ content|raw }}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
