{% if message %}
    {{ message }}
{% endif %}
<div>
    <h2>Регистрация</h2>

    <form method="post" action="/auth/signUp">
        <input placeholder="FIO" type="text" name="fio">
        <input placeholder="Login" type="text" name="login" required>
        <input placeholder="Password" name="password" required>
        <input type="submit" value="Зарегестрироваться">
    </form>
</div>


{% if user %}
    Привет, {{ user.login }}!
    <a href="/auth/logout">Выход</a>
{% else %}
    {% include "login.twig" %}
{% endif %}