<div>
    <h2>Войти</h2>
    <form method="post" action="/auth/login">
        <input placeholder="Login" type="text" required name="login">
        <input placeholder="Password" required name="password">
        <input type="submit" value="Войти">
    </form>
</div>