<h1>Пользователи</h1>
{% for user in users %}
    <h2>{{  user.columns.login }}</h2>
    <a href="/user/user?id={{ user.columns.id }}"> Подробнее </a>
    <hr>
{% else %}
    No users have been found.
{% endfor %}