<h1>Корзина</h1>

{% if message %}
    {{ message }}
{% endif %}

{% for item in cart %}
    <h2>{{  item.name }}</h2>
    <p>Количество:{{  item.quantity }}</p>
    <a href="/cart/delete?id={{ item.id }}"> Удалить </a>
    <hr>
{% else %}
    Корзина пустая.
{% endfor %}

{% if cart %}
    <a href="/cart/clear">Отчистить корзину</a>
    <a href="/order/add">Оформить заказ</a>
{% endif %}





