<main>
    <h2 class='heading'>Users</h2>
    <div class="container">
        {% for user in users %}
            <div class="feedback">
                <a href="/user/user?id={{ user.columns.id }}" class="menu-link">
                    {{ user.columns.login }}</a>

                {% if userNow.role=="isAdmin" %}
                    <a href="/user/delete?id={{ user.columns.id }}"
                       class="button-black shopping-cart-forms-button_size button-users">delete</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>
</main>